<link *ngIf="useDarkTheme" type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-dark-5@1.1.2/dist/css/bootstrap-night.min.css">

<main>
    <div id="player-div"></div>
    <div id="connection-div" *ngIf="!hideStatusMessages && streamStatus === 0" class="p-3 mb-5 text-center position-absolute top-50 start-50 translate-middle rounded">Connecting</div>
    <div *ngIf="!hideStatusMessages && streamStatus === 2" class="p-3 mb-5 text-center position-absolute top-50 start-50 translate-middle rounded">
        Seems that current stream has ended or became unreachable. Try to wait and see if stream comes back live.
        <br/> Otherwise <a routerLink="/" title="Home">you can start your own stream!</a>
    </div>
    <div *ngIf="currentTranscription" class="p-1 mb-5 position-absolute bottom-0 start-50 translate-middle-x bg-dark text-white">{{ currentTranscription }}</div>
</main>