<app-top-nav-bar></app-top-nav-bar>
<main>
    <div class="container-fluid">
        <div class="row py-3">
            <div class="accordion" id="setup-accordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="choice-header">
                        <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#choice-collapse" (click)="reset()">Select source</button>
                    </h2>
                    <div class="accordion-collapse collapse show" id="choice-collapse" aria-labelledby="choice-header" data-bs-parent="#setup-accordion">
                        <div class="accordion-body">
                            <button *ngIf="isDesktopDevice" type="button" class="btn btn-primary me-3" (click)="chooseDeviceType(0)" title="Choose Screen to use your display, window or application as streaming video source">Screen</button>
                            <button type="button" class="btn btn-primary me-3" (click)="chooseDeviceType(1)" title="Choose Webcam to share a webcam as streaming video source">Webcam</button>
                            <button type="button" class="btn btn-primary" (click)="chooseDeviceType(2)" title="Choose Microphone to use an audio input device as streaming source without video">Microphone</button>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="options-header">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#options-collapse">Configure</button>
                    </h2>
                    <div class="accordion-collapse collapse" id="options-collapse" aria-labelledby="options-header" data-bs-parent="#setup-accordion">
                        <div class="accordion-body">
                            <div [class]="deviceTypeChosen() ? 'd-none' : ''">You need to choose the device type first</div>
                            <div [class]="deviceTypeChosen() ? '' : 'd-none'">
                                <div class="mb-3">
                                    <h6>If device lists doesn't show any available option, please control your browser permissions.</h6>
                                </div>
                                <div class="mb-3 form-check form-switch" title="Show advanced options for selected streaming device">
                                    <input type="checkbox" class="form-check-input" id="adv-options" name="adv-options" [(ngModel)]="advancedDeviceOptions" />
                                    <label class="form-check-label" for="adv-options">Advanced options</label>
                                </div>
                                <div class="row mb-3">
                                    <div [class]="userMedia ? 'col' : 'col d-none'">
                                        <app-device-selector></app-device-selector>
                                    </div>
                                    <div [class]="videoStreaming && advancedDeviceOptions ? 'col' : 'col d-none'">
                                        <app-video-options></app-video-options>
                                    </div>
                                </div>
                                <div>
                                    <button type="button" [class]="advancedDeviceOptions ? 'btn btn-primary' : 'btn btn-primary default-opt'" id="confirm-config-btn" (click)="validateOptions()" title="Confirm your selection of streaming device options"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="control-header">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#control-collapse" title="Stream">Stream</button>
                    </h2>
                    <div class="accordion-collapse collapse" id="control-collapse" aria-labelledby="control-header" data-bs-parent="#setup-accordion">
                        <div class="accordion-body">
                            <div *ngIf="!deviceTypeChosen()">You need to choose the device type first</div>
                            <div *ngIf="deviceTypeChosen()">
                                <div class="row">
                                    <div class="col-md-3 col-sm-12 mb-3">
                                        <button *ngIf="!streamingStarted" type="button" class="btn btn-primary me-3" (click)="startStream()" title="Start your stream">Start stream</button>
                                        <button *ngIf="streamingStarted" type="button" class="btn btn-danger me-3" (click)="stopStream()" title="Stop your stream and notify all your viewers">Stop stream</button>
                                        <span *ngIf="viewers.length > 0">Viewers: {{ viewers.length }}</span>
                                    </div>
                                    <div class="col-md-9 col-sm-12">
                                        <app-share-stream></app-share-stream>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row py-3 px-1">
            <div class="col-md-12">
                <h4 *ngIf="streamingStarted">Live preview</h4>
                <div id="preview-div"></div>
            </div>
        </div>
    </div>
</main>