<div class="row" *ngIf="url">
    <!-- <label for="share-url" class="form-label col-3">Stream URL</label> -->
    <div class="col-9">
        <div class="input-group mb-3">
            <span class="input-group-text" id="share-url-span">Stream URL</span>
            <input type="text" class="form-control" id="share-url" name="share-url" readonly [value]="fullUrl" aria-describedby="share-url-span" />
            <button type="button" class="btn btn-outline-secondary" id="copylink-button" (click)="copyLinkToClipboard()">Copy link</button>
        </div>
    </div>
    <div class="col-3">
        <div class="mb-3 form-check form-switch">
            <input type="checkbox" class="form-check-input" id="viewer-messages" name="viewer-messages" [(ngModel)]="hideStatusMessages" (change)="buildFullUrl()" />
            <label class="form-check-label" for="viewer-messages">Hide status messages on viewer page (useful if you share a link for embedded stream)</label>
        </div>
    </div>
</div>