<app-top-nav-bar></app-top-nav-bar>
<div class="p-3 mb-5 text-center position-absolute top-50 start-50 translate-middle bg-body rounded">
    Your browser seems to not support WebRTC technology, fundamental for CoruScreen.
    <br/> To see a list of compatible browser with WebRTC, <a href="https://caniuse.com/?search=webrtc" target="_blank" title="Navigate to 'Can I use? WebRTC' website">go to "Can I use?" website</a>.
    <br/> Some browsers, like iOS / iPad Safari and Firefox desktop from version 69, are not supported to stream microphones or webcams, due to some security concerns that do not allow CoruScreen to retrieve device lists.
</div>