<form class="row">
    <div class="col-md-6">
        <div class="mb-3" title="Select the ideal resolution, if available, for streaming video source">
            <label for="size" class="form-label">Preferred resolution</label>
            <select class="form-select" id="size" name="size" [(ngModel)]="selectedSize">
                <option [ngValue]="null">Select size</option>
                <optgroup *ngFor="let group of availableSizes" label="{{group.key}}">
                    <option *ngFor="let item of group.items" [ngValue]="item">{{ item | size }}</option>
                </optgroup>
            </select>
        </div>
        <div [class]="useSecondaryAudioSource ? 'd-none' : 'mb-3 form-check form-switch'" title="Use audio of streaming video source (i.e., application sounds or webcam integrated microphone)">
            <input type="checkbox" class="form-check-input" id="source-audio" name="source-audio" [(ngModel)]="useSourceAudio" />
            <label class="form-check-label" for="source-audio">Use source audio</label>
        </div>
        <div [class]="useSourceAudio ? 'd-none' : 'mb-3 form-check form-switch'" title="Use secondary audio input/output device together with streaming video source">
            <input type="checkbox" class="form-check-input" id="secondary-audio-source" name="secondary-audio-source" [(ngModel)]="useSecondaryAudioSource" (change)="onSecondaryAudioSourceChanged()" />
            <label class="form-check-label" for="secondary-audio-source">Use secondary audio source</label>
        </div>
        <div [class]="useSecondaryAudioSource ? 'mb-3' : 'd-none'">
            <app-device-selector></app-device-selector>
        </div>
        <div [class]="useSecondaryAudioSource ? 'mb-3 form-check form-switch' : 'd-none'" title="Enable Speech-To-Text feature to transcribe audio input source using selected language">
            <input type="checkbox" class="form-check-input" id="speech-to-text" name="speech-to-text" [(ngModel)]="enableSpeechToText" />
            <label class="form-check-label" for="speech-to-text">Enable speech to text</label>
        </div>
        <div [class]="enableSpeechToText ? 'mb-3' : 'd-none'" title="Choose language for Speech-To-Text functionality">
            <label for="speech-language" class="form-label">Speech-To-Text language</label>
            <select class="form-select" name="speech-language" [(ngModel)]="speechLanguage" (ngModelChange)="speechLanguageValidate()">
                <option [ngValue]="null">Select language</option>
                <option *ngFor="let language of availableSpeechLanguages" [value]="language.code">{{ language.name }}</option>
            </select>
            <div class="text-danger" *ngIf="!validSpeechLanguage">Choose a language</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="mb-3" title="Select the ideal frame rate, if available, for streaming video source">
            <label for="framerate" class="form-label">
                Frame rate <span *ngIf="selectedFrameRate">({{ selectedFrameRate }})</span><span *ngIf="!selectedFrameRate">(auto)</span>
            </label>
            <input type="range" class="form-range" id="framerate" name="framerate" min="0" max="120" step="10" [(ngModel)]="selectedFrameRate" />
        </div>
    </div>
</form>