<form class="row">
    <div class="col">
        <div class="mb-3">
            <label for="size" class="form-label">Preferred resolution</label>
            <select class="form-control" id="size" name="size" [(ngModel)]="selectedSize">
                <option [ngValue]="null">Select size</option>
                <optgroup *ngFor="let group of availableSizes" label="{{group.key}}">
                    <option *ngFor="let item of group.items" [ngValue]="item">{{ item | size }}</option>
                </optgroup>
            </select>

            <div *ngIf="selectedSize" class="form-text">
                Selected size {{ selectedSize | size}}
            </div>
        </div>
        <div [class]="useSecondaryAudioSource ? 'd-none' : 'mb-3 form-check form-switch'">
            <input type="checkbox" class="form-check-input" id="source-audio" name="source-audio" [(ngModel)]="useSourceAudio" />
            <label class="form-check-label" for="source-audio">Use source audio</label>
        </div>
        <div [class]="useSourceAudio ? 'd-none' :  'mb-3 form-check form-switch'">
            <input type="checkbox" class="form-check-input" id="secondary-audio-source" name="secondary-audio-source" [(ngModel)]="useSecondaryAudioSource" (change)="onSecondaryAudioSourceChanged()" />
            <label class="form-check-label" for="secondary-audio-source">Use secondary audio source</label>
        </div>
        <div [class]="useSecondaryAudioSource ? 'mb-3' : 'd-none'">
            <app-device-selector></app-device-selector>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label for="framerate" class="form-label">
                Frame rate <span *ngIf="selectedFrameRate">({{ selectedFrameRate }})</span><span *ngIf="!selectedFrameRate">(auto)</span>
            </label>
            <input type="range" class="form-range" id="framerate" name="framerate" min="0" max="120" step="10" [(ngModel)]="selectedFrameRate" />
        </div>
    </div>
</form>