<app-top-nav-bar></app-top-nav-bar>
<div class="p-3 text-center position-absolute top-50 start-50 translate-middle">
    Your browser is not supported.
    <br/>CoruScreen does not support the following browser:
    <br/>
    <ul>
        <li>iOS / iPad Safari-based browsers</li>
        <li>Firefox (Desktop and Android) from version 69</li>
    </ul>
    <hr/> This browsers are not supported due to:
    <br/>
    <ul>
        <li>Security concerns that do not allow CoruScreen to retrieve device lists</li>
        <li>Unreliable streaming experience, like continuos interruptions, background streaming not allowed, and so on.</li>
    </ul>
    <hr/> CoruScreen recommends to use a Chromium-based desktop browser to stream without this issues.
</div>